<?xml version="1.0"?><configuration><appSettings><add key="Warn above connection number" value="60" /></appSettings><connectionStrings><clear /><!-- WARNING:
        The user account you will configure here must have access to SQL Server DMVs. Ensure
        the following is run on the account:
        
        USE master;
        GO
        GRANT VIEW SERVER STATE TO UserName;
        GO
    --></connectionStrings><system.web><compilation debug="true"></compilation><!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        --><authentication mode="Windows" /><!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        --></system.web></configuration>