<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Warn above connection number" value="60"/>
	</appSettings>
	<connectionStrings>
		<clear/>
		<!-- WARNING:
        The user account you will configure here must have access to SQL Server DMVs. Ensure
        the following is run on the account:
        
        USE master;
        GO
        GRANT VIEW SERVER STATE TO MyUser;
        GO
		
		Here's a sample connection string:
		
		<add name="DB1" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=YourDatabase;User ID=MyUser;Password=MyPassword" />
    
    -->
		<add name="InboundQueue" connectionString=""/>
		<add name="EventQueue" connectionString=""/>
		<add name="SaaSMDM" connectionString=""/>
		<add name="IsvOrders" connectionString=""/>
		<add name="ASPState" connectionString=""/>
		<add name="UIDB" connectionString=""/>
		<add name="WfPersistence" connectionString=""/>
		<add name="VasAdapterDb" connectionString=""/>
		<add name="C2bSyncQueue" connectionString=""/>
		<add name="InvestigationService" connectionString=""/>
		<add name="Billing" connectionString=""/>
		<add name="Utility" connectionString=""/>
		<add name="Azure" connectionString=""/>
	</connectionStrings>
	<system.web>
		<compilation debug="true"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
