<?xml version="1.0"?>
<configuration>

  <appSettings >
    <add key="Warn above connection number" value="60"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <!-- WARNING:
        The user account you will configure here must have access to SQL Server DMVs. Ensure
        the following is run on the account:
        
        USE master;
        GO
        GRANT VIEW SERVER STATE TO UserName;
        GO
    -->
    <add name="InboundQueue" connectionString="Data Source=saascore-iqueue-db.nat.bt.com;Initial Catalog=INBOUNDQUEUE;Integrated Security=SSPI" />
    <add name="EventQueue" connectionString="Data Source=saascore-equeue-db.nat.bt.com;Initial Catalog=EventQueue;Integrated Security=SSPI" />
    <add name="SaaSMDM" connectionString="Data Source=saascore-mdm-db.nat.bt.com;Initial Catalog=SaaSMDM;Integrated Security=SSPI" />
    <add name="IsvOrders" connectionString="Data Source=saascore-mdm-db.nat.bt.com;Initial Catalog=IsvOrders;Integrated Security=SSPI" />
    <add name="ASPState" connectionString="Data Source=saascore-ui-db.nat.bt.com,49400;Initial Catalog=ASPState;Integrated Security=SSPI" />
    <add name="UIDB" connectionString="Data Source=saascore-ui-db.nat.bt.com,49400;Initial Catalog=UIDB;Integrated Security=SSPI" />
    <add name="WfPersistence" connectionString="Data Source=saascore-pe-db.nat.bt.com;Initial Catalog=WfPersistence;Integrated Security=SSPI" />
    <add name="VasAdapterDb" connectionString="Data Source=saascore-pe-db.nat.bt.com;Initial Catalog=VasAdapterDb;Integrated Security=SSPI" />

    <add name="C2bSyncQueue" connectionString="Data Source=saascore-pe-db.nat.bt.com;Initial Catalog=C2bSyncQueue;Integrated Security=SSPI" />
    <add name="InvestigationService" connectionString="Data Source=saascore-pe-db.nat.bt.com;Initial Catalog=InvestigationService;Integrated Security=SSPI" />
    <add name="Billing" connectionString="Data Source=saascore-pe-db.nat.bt.com;Initial Catalog=Billing;Integrated Security=SSPI" />
    <add name="Utility" connectionString="Data Source=saascore-pe-db.nat.bt.com;Initial Catalog=Utility;Integrated Security=SSPI" />
    
  </connectionStrings>
    <system.web>
        <compilation debug="true">

        </compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    </system.web>

</configuration>
